@import "tailwindcss";

@theme {
  --color-primary: #ed3915;
  --color-primary-dark: #b32a10;
  --color-primary-light: #ff5c3b;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #000;
  color: #fff;
  overscroll-behavior-y: none;
}
